.app{
    display: flex;
    flex-direction: row;
}

.day-picker{
    flex-basis: 300px;
}

.project{
    display: flex;
    flex-basis: 350px;
    flex-direction: column;
}

.project-textarea, .project-select{
    margin: 1rem;
}

.project-textarea {
    resize: none;
}