.app{
    display: flex;
    flex-direction: row;
}

.day-picker{
    flex-basis: 300px;
}

.project{
    display: flex;
    flex-basis: 350px;
    flex-direction: column;
}

.project-textarea, .project-select{
    margin: 1rem;
}

.project-textarea {
    resize: none;
}

.project-radio {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.project-radio-label {
    line-height: 1.25;
    font-size: 1.25rem;
    margin-left: 1rem;
}